@font-face {
  font-family: "gameboy";
  src: url(./EarlyGameBoy.ttf);
}
@font-face {
  font-family: "eightbit";
  src: url(8-bitArcadeIn.ttf);
}


:root {
  --GBBbody: rgb(141, 141, 141);
  --GBBscreen: rgb(156, 155, 102);
  --GBBborder: rgb(83, 72, 90);
  --GBBscreenShadow: rgb(70, 67, 34);
  --GBBborderShadow: rgb(54, 54, 54);
  --GBBtext: rgb(103, 110, 85);
  --GBBboldText: rgb(60, 71, 37);

  --GBCbody: rgb(196, 135, 2);
  --GBCscreen: rgb(189, 194, 185);
  --GBCborder: rgb(24, 24, 24);
  --GBCscreenShadow: rgb(14, 14, 14);
  --GBCborderShadow: rgb(136, 93, 1);
  --GBCtext: rgb(124, 128, 114);
  --GBCboldText: rgb(76, 77, 70);
}

* {
  font-family: gameboy;
  filter: blur(0.4px);
  /* scroll-behavior: smooth; */
  margin: 0;
  padding: 0;
  color: GBCtext;
}

.routerLink {
  text-decoration: none;
  font-size: 18px;
  position: relative;
  left: 10px;
  color: var(--GBCboldText);
  cursor: pointer;
}

.routerLink:hover {
  color: var(--GBCboldText);
  text-shadow: 0 0 2px rgb(52, 53, 48);
}

@media only screen and (max-width: 1200px) {
  * {
    filter: blur(0.35px);
  }
}



@media only screen and (max-width: 1000px) {
  * {
    filter: blur(0.3px);
  }
}

@media only screen and (max-width: 500px) {
  * {
    filter: blur(0.1px);
  }
}